# Reactor mandatory settings
REACTOR_NAME=uploads-indexer
# REACTOR_DESCRIPTION=
# REACTOR_ALIAS=uploads_indexer

# Docker settings
DOCKER_HUB_ORG=sd2e
DOCKER_IMAGE_TAG=uploads_indexer
DOCKER_IMAGE_VERSION=0.3.0
DOCKER_USE_COMMIT_HASH=1
